#teacher {
	float: left;
	width: 300px;
	height: auto;
	margin-top: 150px;
	margin-left: 55px;
	border: 2px solid black;
}

#lawyer {
	float: left;
	width: 300px;
	height: auto;
	margin-top: 150px;
	margin-left: 55px;
	border: 2px solid black;
}

#business {
	float: left;
	width: 300px;
	height: auto;
	margin-top: 150px;
	margin-left: 55px;
	border: 2px solid black;
}


#discount_introduction {
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	text-align: justify;
	margin-top: 180px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: -90px;
	line-height: 40px;
}

#tabs {
	float: left;
}

#tab_title {
	float: left;
	margin-bottom: 50px;
}

#academic_discount {
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin-left: 100px;
}

#attorney_discount {
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin-left: 155px;
}

#business_discount {
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin-left: 155px;
}

#academic_discount:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: .50;
    cursor: pointer;
}

#attorney_discount:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: .50;
    cursor: pointer;
}

#business_discount:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: .50;
    cursor: pointer;
}

#logo_center {
	width: 500px;
	height: auto;
	margin-left: 325px;
}

#tagline {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	letter-spacing: 3px;
	font-weight: bold;
	font-style: italic;
	margin-left: 430px;
	margin-top: -5px;
	color: #871C05;
}

#tab_margin {
	float: right;
	margin-right: 100px;
}

.tab {
	float: right;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin-right: 85px;
	margin-left: 60px;
	cursor: pointer;
}

.tab:hover {
	-moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    opacity: .50;
    cursor: pointer;
}

#negligence_discount {
	clear: right;
	font-family: 'Lato', sans-serif;
	font-size: 36px;
	text-align: center;
	margin-top: 175px;
	margin-bottom: -150px;
}


a {
	text-decoration: none;
	color: black;
}